<form method="GET" action="/">
    <input type="submit" value="Back to main page" />
</form>

<% 
var d = new Date()

var day = ''
if(d.getDate() < 10 ) {
    day = '0' + d.getDate() 
} else {
    day = d.getDate()
}

var month = ''
if(d.getMonth() < 9 ) {
    month = '0' + (d.getMonth() + 1) 
} else {
    month = (d.getMonth() + 1)
}
//formatting
var trueDate = d.getFullYear()+"-"+month+"-"+day

//syntax: if x then x else y
var date = date ? date : trueDate 
var sports_time = sports_time ? sports_time: 0
var study_time = study_time ? study_time: 0
var eating = eating ? eating : 3
var mood = mood ? mood : 3
%>


<h1>Evening report</h1>

<h2> Fill in your data</h2>

<form method="POST" action="/behavior/reporting/evening">

    <label for="date">Date</label>
    <input type="date" name="date" value="<%= date %>" >
    <br>

    <label for="sports_time">Hours spent in sports and excecise</label>
    <input type="text" name="sports_time" min="0" max="24" step="0.01" value="<%= sports_time %>" />
    <br>

    <label for="study_time">Hours spent studying</label>
    <input type="text" name="study_time" min="0" max="24" step="0.01" value="<%= study_time %>" />
    <br>

    <label for="eating">Regularity and quality of eating: give a number from 1 to 5</label>
    <br>1<input type="range" name="eating" min="1" max="5" step="1" value="<%= eating %>" />5</br>

    <label for="mood">Generic mood: give a number from 1 to 5 with 1 being poor and 5 being excellent</label>
    <br>1<input type="range" name="mood" min="1" max="5" step="1" value="<%= mood %>" />5</br>

    <input type="submit" value="submit all" />

</form>