<%- include('./partials/header.ejs') %>

<div class="container">

    <form method="GET" action="/">
        <input type="submit" value="Back to main menu" />
    </form>

<% const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"] %>

<h3>Personal monthly summary of  <%= month-1 < 0 ? "undefined" : months[month-1] %> <%= year %></h3>
<p>Average sleep duration (hours): <%= average_hours_slept ? average_hours_slept : "No data" %></p>
<p>Average sleep quality (1=poor, 5=excellent): <%= average_sleep_quality ? average_sleep_quality : "No data" %></p>
<p>Average time spent on sports and exercise (hours): <%= average_sports_time ? average_sports_time : "No data" %></p>
<p>Average time spent studying (hours): <%= average_study_time ? average_study_time : "No data" %></p>
<p>Average regularity and quality of eating (1=poor, 5=excellent): <%= average_eating_quality ? average_eating_quality : "No data" %></p>
<p>Average generic mood for the whole day (1=poor, 5=excellent): <%= overall_average_mood ? overall_average_mood : "No data" %></p>
<p>Average generic mood for the morning (1=poor, 5=excellent): <%= overall_average_mood ? overall_average_mood : "No data" %></p>
<p>Average generic mood for the evening (1=poor, 5=excellent): <%= overall_average_mood ? overall_average_mood : "No data" %></p>
<br>

<h3>Change the month of the summary here</h3>
<form method="POST" action="/behavior/summary/monthly">
  <input type="month" name="month" value=<%= year+"-"+(month < 10 ? '0'+month : month) %> />
  <input type="submit" value="Change month" />
</form>

</div>

<%- include('./partials/footer.ejs') %>