<%- include('./partials/header.ejs') %>

<div class="container">
<div>
    <form method="GET" action="/">
      <input type="submit" value="Back to main menu" />
    </form>
</div>

<% 
var d = new Date()

var day = ''
if(d.getDate() < 10 ) {
    day = '0' + d.getDate() 
} else {
    day = d.getDate()
}

var month = ''
if(d.getMonth() < 9 ) {
    month = '0' + (d.getMonth() + 1) 
} else {
    month = (d.getMonth() + 1)
}
//formatting
var trueDate = d.getFullYear()+"-"+month+"-"+day

//syntax: if x then x else y
var date = date ? date : trueDate 
var hours_slept = hours_slept ? hours_slept: null
var sleep_quality = sleep_quality ? sleep_quality : 3
var mood = mood ? mood : 3
var errors = errors ? errors : []
%>

<h1> Morning report</h1>

<h2> Fill in your data</h2>


<form method="POST" action="/behavior/reporting/morning">

    <label for="date">Date</label>
    <input type="date" name="date" value="<%= date %>" >
    <br>

    <label for="hours_slept">Hours slept</label>
    <input type="number" min="0" max="24" step="0.01" name="hours_slept" value="<%= hours_slept %>" />
    <br>

    <label for="sleep_quality">Sleep quality: give a number from 1 to 5 with 1 being poor and 5 being excellent</label>
    <br>1<input type="range" name="sleep_quality" min="1" max="5" step="1" value="<%= sleep_quality %>" />5</br>

    <label for="mood">Generic mood: give a number from 1 to 5 with 1 being poor and 5 being excellent</label>
    <br>1<input type="range" name="mood" min="1" max="5" step="1" value="<%= mood %>" />5</br>

    <input type="submit" value="submit all" />

</form>
</div>

<%- include('./partials/footer.ejs') %>

