<%- include('./partials/header.ejs') %>

<div class="container">

    <%
    var msg = msg ? msg : ''
    %>

    <% if (msg.length > 0) { %>
      <h2 class="message"> <%= msg %></h2>
    <% } %>

    <h2> Login </h2>
    <p> Click here to log in</p>
    <form method="GET" action="auth/login">
        <input type="submit" value="Login" />
    </form>

    <h2> Register </h2>
    <p> Not registered? Register here!</p>
    <form method="GET" action="auth/registration">
        <input type="submit" value="register" />
    </form>

    <h1> Application for self-monitoring!</h1>

    <h3>Quick summary</h3>
    <% if (average_mood_today && average_mood_yesterday) { %>
      <p>Average mood for today (1=poor, 5=excellent): <%= average_mood_today %></p>
      <p>Average mood for yesterday (1=poor, 5=excellent): <%= average_mood_yesterday %></p>
      <p><%= average_mood_yesterday > average_mood_today ? "Things are looking gloomy today" : "Things are looking bright today" %></p>
    <% } else { %>
      <p>Not enough data for a quick summary.</p>
    <% } %>
    <br>

    <h2> Reporting </h2>
    <p> Click here to report your data</p>
    <form method="GET" action="behavior/reporting">
        <input type="submit" value="Report" />
    </form>

    <h2> Summary </h2>
    <p> Click here to see a summary of your data</p>
    <form method="GET" action="behavior/summary">
        <input type="submit" value="Summary" />
    </form>
</div>

<%- include('./partials/footer.ejs') %>

